.about {
    font-weight: 900;
    font-size: 45px;
    background: -webkit-linear-gradient(#FFBE0B, #F42B03);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.resume-button {
    background: -webkit-linear-gradient(#FFBE0B, #F42B03);
    color: white;
    font-weight: 800;
}

.resume-button:focus {
    color: white;
}

.resume-button:active {
    color: white;
}

.resume-button:hover {
    color: white;
    font-weight: 900;
}

.intro-text {
    text-align: justify;
}