.experience-summary {
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(255, 109, 5, 0.811);
    height: 400px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #FBF9EC #f88007;
    font-weight: 300;

    @media screen and (min-width: 720px) {
        height: 100%;
        overflow: auto;
    }
}

.heading {
    background: -webkit-linear-gradient(#FFBE0B, #F42B03);
    color: white;
    font-weight: 700;
    border-radius: 10px;
}

.summary-pointers {
    text-align: justify;
    line-height: 1.8;
}