.my-progress-bar {
    width: 300px;
}

.progress-bar {
    background: linear-gradient(.25turn, #afffd7, 27%, #0cff00);
    transition: width 0.2s ease;
}

.percentage {
    font-size: 11px;
    font-weight: 100;
}