.skill {
    font-weight: 900;
    font-size: 45px;
    background: -webkit-linear-gradient(#FFBE0B, #F42B03);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skill-section {
    height: 450px;
    overflow-y: scroll;
}

/* Slim scrollbar styles for Firefox */
.skill-section  {
scrollbar-width: thin;
scrollbar-color: #FBF9EC #f88007;
}